@font-face { font-family: "SegoeUI Light"; font-display: auto; src: url("../fonts/SegoeUI-Light.woff"); }

@font-face { font-family: "SegoeUI Regular"; font-display: auto; src: url("../fonts/SegoeUI.woff"); }

@font-face { font-family: "SegoeUI SemiBold"; font-display: auto; src: url("../fonts/SegoeUI-SemiBold.woff"); }

.fl { font-family: "SegoeUI Light"; }

.fm { font-family: "SegoeUI Regular"; }

.fsb { font-family: "SegoeUI SemiBold"; }

.fadeElem { visibility: visible; opacity: 1; -webkit-transform: translate(0); transform: translate(0); }

html { font-size: 10px; }

@media screen and (max-width: 1081px) { html { font-size: calc(100vw/130); } }

@media screen and (max-width: 551px) { html { font-size: calc(100vw/50); } }

* { padding: 0; margin: 0; list-style-type: none; text-decoration: none; outline: none; line-height: normal; border: none; background: none; border-radius: 0; box-shadow: none; letter-spacing: unset; font-weight: 400; font-family: "SegoeUI Light"; color: inherit; box-sizing: border-box; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

.body__bg { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; }

.body__bg::before, .body__bg::after { content: ""; position: absolute; top: 50%; left: 50%; width: 120rem; height: 120rem; background: transparent; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 50%; }

.body__bg::before { margin-left: 40rem; background: url("../img/blueEllipse.svg") no-repeat center; background-size: contain; opacity: 0.3; }

.body__bg::after { margin-left: -45rem; background: url("../img/redEllipse.svg") no-repeat center; background-size: contain; opacity: 0.3; }

.section { width: 100%; display: flex; justify-content: center; }

.wrapper { width: 135rem; }

@media screen and (max-width: 551px) { .wrapper { width: 90vw; } }

.sectionMain { position: relative; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; }

.sectionMain__box { display: flex; flex-direction: column; align-items: center; }

.sectionMain__top { font-size: 12rem; letter-spacing: 1.5rem; }

.sectionMain__top.JStrans { transition: opacity 1s ease-out, -webkit-transform 0.7s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out, -webkit-transform 0.7s ease-out; }

.sectionMain__top._disable { opacity: 0; visibility: hidden; -webkit-transform: translateY(15rem); transform: translateY(15rem); }

.sectionMain__middle { font-size: 4rem; letter-spacing: 0.5rem; margin-bottom: 2.5rem; }

.sectionMain__middle.JStrans { transition: opacity 1s ease-out, -webkit-transform 0.7s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out, -webkit-transform 0.7s ease-out; }

.sectionMain__middle._disable { opacity: 0; visibility: hidden; -webkit-transform: translateY(15rem); transform: translateY(15rem); }

.sectionMain__bottom { font-size: 2.5rem; letter-spacing: 0.2rem; }

.sectionMain__bottom.JStrans { transition: opacity 1s ease-out, -webkit-transform 0.7s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out; transition: transform 0.7s ease-out, opacity 1s ease-out, -webkit-transform 0.7s ease-out; }

.sectionMain__bottom._disable { opacity: 0; visibility: hidden; -webkit-transform: translateY(15rem); transform: translateY(15rem); }
