* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	line-height: normal;
	border: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	letter-spacing: unset;
	font-weight: 400;
	font-family: "SegoeUI Light";
	color: inherit;
	box-sizing: border-box;
	text-size-adjust: none;
}
