.cardPhoto {
	width: 100%;
	min-height: 21rem;
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.5rem 1.2rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	&__photo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
