.mainTitle {
	width: 100%;
	@extend .fb;
	font-size: 5rem;
	text-transform: uppercase;
	color: #fff;
	&__accent {
		font-family: inherit;
		font-size: inherit;
		color: $blueC;
		text-transform: uppercase;
	}
	@include media(551px) {
		text-align: center;
	}
}