.navigation {
	width: 100%;
	display: flex;
	align-items: center;

	&__items {
		margin: 0 2rem;
	}
	&__link {
		@extend .fl;
		// font-size: 1.4rem;
		font-size: inherit;
		color: inherit;
		transition: .2s;
		&:hover {
			color: $mainC;
		}
	}
}