.serviceMedia {
	width: 100%;
	display: flex;
	flex-direction: column;

	&__serviceViewport {
		height: 40rem;
		width: 100%;
		margin-bottom: 1rem;
		@include media(551px) {
			height: 26rem;
		}
	}
	&__serviceSlider {
		width: 100%;
		height: 12rem;
	}
}