.socialLinks {
	width: 100%;
	display: flex;
	align-items: center;
	&__items {
		margin: 0 .5rem;
	}
	&__icon {
		width: 4rem;
		filter: grayscale(100%);
		transition: .2s;
		&:hover {
			filter: grayscale(0);
		}
	}
}