.title {
	@extend .fb;
	font-size: 3.6rem;
	text-transform: uppercase;
	color: #000000;
	line-height: 1.35;
	position: relative;
	z-index: 1;
	&__accent {
		font-size: inherit;
		text-transform: uppercase;
		font-family: inherit;
		color: $blueC;
	}

	&._white {
		color: #fff;
	}
	@include media(551px) {
		font-size: 4.6rem;
	}
}