.videoModal {
	width: 100%;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	&__container {
		position: relative;
		width: 80rem;
		height: 45rem;
		background: #fff;
		border-radius: 0.5rem;
		@include media(551px) {
			width: 90vw;
			height: 28rem;
		}
	}
}
